
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import url('http://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';


*{
    box-sizing:border-box;
}

html{
    font-size:16px ;
}
html,button{
    font-family: "Quicksand","sans-serif";
}

body{
    margin: 0;
    font-family: Quicksand, sans-serif;
    font-size: 18px;
}

a{
    text-decoration: none;

}